---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="h-entry content-780 flow">
  <data class="u-url" value="{{ page.url | url | absoluteUrl(metadata.url) }}"></data>
  <h1 class="p-name">{{ title }}</h1>

  {% if lead %}
  <p class="post-lead">{{ lead }}</p>
  {% endif %}


  <time datetime="{{ createdDate | htmlDateString }}">{{ createdDate | readableDate }}</time>
  {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset -%}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {%- endfor %}

  <div class="e-content flow">
    {% anyEmbed embed %}

    {{ content | safe }}

    {% for image in images %}
      {% figure image, "", "u-photo" %}
    {% endfor %}

    {% if replyTo %}
      <a class="u-in-reply-to" href="{{ replyTo }}"></a>
    {% endif %}

     {% if metadata.bridgy_mastodon and not dontBridgy %}
      <a href="https://brid.gy/publish/mastodon"></a>
      {% if threadMastodon %}
        <a class="u-in-reply-to" href="{{ threadMastodon }}"></a>
      {% endif %}
      {% if description %}
        <p class="p-bridgy-mastodon-content" style="display: none;">{{ description | mastodonShareDescription(tags | filterTagList, socialTags) }}</p>
      {% else %}
        <p class="p-bridgy-mastodon-content" style="display: none;">{{ content | mastodonShareDescription(tags | filterTagList, socialTags) }}</p>
      {% endif %}
    {% endif %}
  </div>

  <hr />
  <section class="flow">
    <h2>Comments / Webmentions</h3>

    <div class="share__">
  <p>
      Reply on <a href="{% if dontBridgy %}{{ tootUrl | getMastodon }}{% else %}{{ mastodon | getMastodon }}{% endif %}">Mastodon</a> or <a href="mailto:geekosaurblog@gmail.com?subject={{ title }}">Email Me</a>.
  </p>
    </div>

    {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
    {% include 'webmentions.njk' %}
  </section>

  {# TODO: add 'next'/'previous' for notes #}
</div>
