---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="h-entry content-780 flow">
  <h1 class="p-name">{{ title }}</h1>

  {% if lead %}
  <p class="post-lead">{{ lead }}</p>
  {% endif %}


  <time datetime="{{ createdDate | htmlDateString }}">{{ createdDate | readableDate }}</time>
  {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset -%}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {%- endfor %}

  <div class="e-content flow">
    {% anyEmbed embed %}

    {{ content | safe }}

    {% for image in images %}
      {% figure image %}
    {% endfor %}

    {% if replyTo %}
      <a class="u-in-reply-to" href="{{ replyTo }}"></a>
    {% endif %}

     {% if metadata.bridgy_mastodon %}
      <a href="https://brid.gy/publish/mastodon"></a>
      {% if threadMastodon %}
        <a class="u-in-reply-to" href="{{ threadMastodon }}"></a>
      {% endif %}
      {% if description %}
        <p class="p-bridgy-mastodon-content" style="display: none;">{{ description | mastodonShareDescription(tags | filterTagList) }}</p>
      {% endif %}
    {% endif %}
    {% if metadata.bridgy_twitter %}
      <a href="https://brid.gy/publish/twitter"></a>
      {% if threadTwitter %}
        <a class="u-in-reply-to" href="{{ threadTwitter }}"></a>
      {% endif %}
      {% if description %}
        <p class="p-bridgy-twitter-content" style="display: none;">{{ description | twitterExerpt }}</p>
      {% endif %}
    {% endif %}
  </div>

  <hr />
  <section class="flow">
    <h2>Comments / Webmentions</h3>

    <div class="share__">
  <p>
 
    {% if toot or reddit %}
      {% if toot %}
        <a href="{{ toot }}">Reply on Mastodon</a>. 
      {% endif %}
      {% if reddit %}
        <a href="{{ reddit }}">Reply on Reddit</a>. 
      {% endif %}
   
    {% else %}
      Reply by sharing your thoughts on Reddit, Mastodon or Twitter.
    {% endif %}
  </p>
    </div>

    {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
    {% include 'webmentions.njk' %}
  </section>

  {# TODO: add 'next'/'previous' for notes #}
</div>
