---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="h-entry content-780 flow">
  <data class="u-url" value="{{ page.url | url | absoluteUrl(metadata.url) }}"></data>
  <h1 class="p-name">{{ title }}</h1>

  {%if lead %}
  <p class="post-lead">{{ lead }}</p>
  {% endif %}


  <time datetime="{{ createdDate | htmlDateString }}">{{ createdDate | readableDate }}</time>
  {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset -%}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {%- endfor %}

  {% if toc %}
  <aside>
    {{ content | toc | safe }}
  </aside>
  {% endif %}

  <div class="e-content flow">
    {{ content | safe }}

    {% if metadata.bridgy_mastodon %}
      <a href="https://brid.gy/publish/mastodon"></a>
      {% if replyTo %}
        <a class="u-in-reply-to" href="{{ replyTo }}"></a>
      {% endif %}
      {% if description %}
        <p class="p-bridgy-mastodon-content">{{ description | mastodonShareDescription(tags | filterTagList, socialTags) }}</p>
      {% endif %}
    {% endif %}
    {% if metadata.bridgy_twitter %}
      <a href="https://brid.gy/publish/twitter"></a>
      {% if replyTo %}
        <a class="u-in-reply-to" href="{{ replyTo }}"></a>
      {% endif %}
      {% if description %}
        <p class="p-bridgy-twitter-content">{{ description }}</p>
      {% endif %}
    {% endif %}
    
  </div>

  <hr />
  <section class="flow">
    <h2>Comments / Webmentions</h3>

    <div class="share__">
  <p>
    {% if toot or reddit %}
      {% if toot %}
        <a href="{{ toot }}">Reply on Mastodon</a>. 
      {% endif %}
      {% if reddit %}
        <a href="{{ reddit }}">Reply on Reddit</a>. 
      {% endif %}
   
    {% else %}
      Reply by sharing your thoughts on Reddit, Mastodon or Twitter.
    {% endif %}
  </p>
    </div>

    {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
    {% include 'webmentions.njk' %}
  </section>
  
  {% if series %}
  <hr />
    <div id="series-footer">
      <p>This is a post in the <b>{{ series }}</b> series.</p>
      <ul>
      {% for seriesPost in collections.series | getSeriesPosts(series) | reverse %}
      <li><a href="{{ seriesPost.url }}">{{ seriesPost.title }}</a></li>
      {% endfor %}
      </ul>
    </div>    
  {% endif %}

  {%- if collections.posts %}
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
      <hr>
      <ul>
        {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
        {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
      </ul>
    {%- endif %}
  {%- endif %}

</div>
