---
layout: layouts/home.njk
permalink: /wishlist/
eleventyNavigation:
  key: Kobo Wishlist
  order: 7
---
<script>
function toggleKoboPlus() {
  var divs = document.querySelectorAll(".blog-card:not(.blog-card-koboPlus)");

  for (i = 0; i < divs.length; ++i) {
    x = divs[i];
    if (x?.style?.display === "none") {
      x.style.display = "flex";
    } else {
      x.style.display = "none";
    }
  }
  
}

function togglePreorder() {
  var divs = document.querySelectorAll(".blog-card:not(.blog-card-preorder)");

  for (i = 0; i < divs.length; ++i) {
    x = divs[i];
    if (x?.style?.display === "none") {
      x.style.display = "flex";
    } else {
      x.style.display = "none";
    }
  }
  
}

function toggleOnSale() {
  var divs = document.querySelectorAll(".blog-card:not(.blog-card-onsale)");

  for (i = 0; i < divs.length; ++i) {
    x = divs[i];
    if (x?.style?.display === "none") {
      x.style.display = "flex";
    } else {
      x.style.display = "none";
    }
  }
  
}
</script>

<section class="content-780">
  <h1>Wishlist</h1>

<p>Kobo doesn't allow sorting wishlist by price, and doesn't show if something is available on Kobo Plus. So this is more for myself to keep track of things</p>

<button onClick="toggleKoboPlus()">Toggle Kobo Plus</button>

<button onClick="togglePreorder()">Toggle Pre-Order</button>

<button onClick="toggleOnSale()">Toggle On Sale</button>

<h2>Books</h2>

{% for book in wishlist %}
  {% wishlistCard book.title, book.author, book.url, book.cover, book.price, book.preorder, book.isPlus, book.isSale, book.dealDescription %}
  {% endwishlistCard %}
{% endfor %}

<h2>Light Novels</h2>

{% for book in lns_wishlist %}
  {% wishlistCard book.title, book.author, book.url, book.cover, book.price, book.preorder, book.isPlus, book.isSale, book.dealDescription %}
  {% endwishlistCard %}
{% endfor %}

<h2>Manga/Comics</h2>

{% for manga in manga_wishlist %}
  {% wishlistCard manga.title, manga.author, manga.url, manga.cover, manga.price, manga.preorder, manga.isPlus, book.isSale, book.dealDescription %}
  {% endwishlistCard %}
{% endfor %}

</section>