---
layout: layouts/home.njk
permalink: /wishlist/
eleventyNavigation:
  key: Kobo Wishlist
  order: 10
---

<section class="content-780">
  <h1>Wishlist</h1>

<p>Kobo doesn't allow sorting wishlist by price, and doesn't show if something is available on Kobo Plus. So this is more for myself to keep track of things</p>

{% for book in wishlist %}
  {% wishlistCard book.title, book.url, book.cover, book.price, book.preorder, book.isPlus %}
  {% endwishlistCard %}
{% endfor %}


</section>